# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore build artifacts
build/
dist/

# Ignore node modules
node_modules/

# Ignore videos files
*.avi
*.flv
*.h264
*.m4v
*.mov
*.mp4
*.mpeg
*.mpg
*.webm

# Ignore images
*.jpg
*.jpeg


# Ignore DS_Store files
.DS_Store
